<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8">
    <h3 style="text-align: center">Login Form</h3>
<section>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="email">Email Id:</label>
      <input type="email" class="form-control" #Email="ngModel" placeholder="Enter Email Id" id="email" name="email"
      required email ngModel>
      <div class="alert alert-danger" *ngIf="Email.touched && !Email.valid">
        <div *ngIf="Email.errors.required">Email is required</div>
        <div *ngIf="Email.errors.email">Invalid Email Id</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" #pass="ngModel" placeholder="Enter Password" id="password" name="password"
      required ngModel minlength="6">
      <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
        <div *ngIf="pass.errors.required">Password is required</div>
        <div *ngIf="pass.errors.minlength">Should have minimum 6 characters</div>
      </div>
    </div>
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Log In</button>
    </div>
  </form>
</section>
</div>
</div>
